<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        bootstrap="./Bootstrap.php"
        colors="true"
        stopOnError="false"
        stopOnFailure="false"
        stopOnIncomplete="false"
        stopOnSkipped="false"
        convertErrorsToExceptions="true"
        >
    <filter>
        <whitelist>
            <directory>../src/</directory>
        </whitelist>
    </filter>
</phpunit>